/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../../app/stylesheets/_layout.scss */
body {
  font: normal normal normal 0.813em/normal Verdana, sans-serif;
}

/* line 5, ../../app/stylesheets/_layout.scss */
a {
  text-decoration: none;
  color: #a8442e;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0@altrug2/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 10, ../../app/stylesheets/_layout.scss */
.hide {
  display: none;
}

/* line 14, ../../app/stylesheets/_layout.scss */
div#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  border-right: 2px solid black;
  padding: 10px;
}
/* line 20, ../../app/stylesheets/_layout.scss */
div#sidebar #navigation {
  margin-right: -11px;
}
/* line 22, ../../app/stylesheets/_layout.scss */
div#sidebar #navigation ul li {
  border: 1px solid gray;
  padding: 1em;
  background-color: #bebebe;
  text-align: right;
}

/* line 31, ../../app/stylesheets/_layout.scss */
div#main {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 342px;
  padding: 1em;
  padding: 6em 4em 2em 1em;
  background-color: #a8442e;
  background-color: #cfa098;
}
/* line 39, ../../app/stylesheets/_layout.scss */
div#main h1 {
  font-size: 2em;
}
/* line 42, ../../app/stylesheets/_layout.scss */
div#main h2 {
  font-size: 1.5em;
}
/* line 47, ../../app/stylesheets/_layout.scss */
div#main #meetings .future-meetings, div#main #meetings .description {
  font-size: 0.9em;
  line-height: 1.4em;
  margin-bottom: 1em;
  border: 1px solid gray;
  background-color: white;
  padding: 1.5em 2em;
}
