#sponsors
  %h1 Sponsors!
  %h2 Platinum
  %ul.platinum
    %li
      %a{:href => 'http://blinqmedia.com/'}
        %img{:src => '/images/blinq.png', :alt => 'Blinq Media'}
    %li
      %a{:href => 'http://vitrue.com/'}
        %img{:src => '/images/vitrue.png', :alt => 'Vitrue'}
  %h2 Others (also important!)
  %ul.other
    %li
      %a{:href => 'http://www.primedia.com/'} Primedia
    %li
      %a{:href => 'http://atdc.org/'} ATDC
    %li
      %a{:href => 'http://highgroove.com'} Highgroove
